.background-image {
    background-image: url('https://res.cloudinary.com/di8ugfihk/image/upload/v1681946984/374116_yhigee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 1;
  }

  .background-ambience {
    background-image: url('https://res.cloudinary.com/di8ugfihk/image/upload/v1681947648/ezgif.com-crop_2_oqbiyk.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
  }